<% @itinerary_dates.each_slice(7).to_a.each do |slice| %>
<tr class="info">
<% slice.each do |date| %>
<th><span class="date"> <%= date %> </span>
        <ul id="sortable1" class="connectedSortable">
          <% @itinerary.itinerary_items.order(:position).each do |ii| %>
            <% item = ii.itemable %>
            <% itinerary_type = @itinerary_types[item.class] %>
            <% if item.class == Reservation %>
              <% if (item.start_date.strftime("%B %d, %Y")..item.end_date.strftime("%B %d, %Y")).include? date %>
                <%= content_tag :li, data: {position: ii.position}, id: "#{ii.id}" do -%>
                  <%= content_tag :p, link_to("#{itinerary_type}: #{item.send(itinerary_type.downcase).name}", [@itinerary, item]) %>    
                  <%= content_tag :p, "Address: #{item.send(itinerary_type.downcase).address}" %>
                <% end -%>
              <% end %>
            <% else %>
              <% if item.date.strftime("%B %d, %Y") == date %>
                <%= content_tag :li, data: {position: ii.position}, id: "#{ii.id}" do -%>
                  <%= content_tag :p, link_to("#{itinerary_type}: #{item.send(itinerary_type.downcase).name}", [@itinerary, item]) %>
                  <%= content_tag :p, "Address: #{item.send(itinerary_type.downcase).address}" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %> 
        </ul>
      </th>
      <% end %>
  </tr>
<% end %>