<p id="notice"><%= notice %></p>
<br><br>

<div class="row">
  <div class = "col-md-8">
    <h3><%= link_to @itinerary.user.name, user_path(@itinerary.user) %></h3>
    <h3> <%= @itinerary.title %></h3><br>
    <%= @itinerary.start_date.strftime("%B %d, %Y")%> - <%= @itinerary.end_date.strftime("%B %d, %Y")%><br>

    <h4> Hotel Reservations </h4>
    <%  @itinerary.hotels.each do |hotel| %>
      Hotel name: <%= link_to hotel.name, [@itinerary, hotel] %><br>
      Location: <%= hotel.address %><br><br>
    <% end %>

    <h4> Restaurants </h4>
    <%  @itinerary.restaurants.each do |restaurant| %>
      Restaurant name: <%= link_to restaurant.name, [@itinerary, restaurant] %><br>
      Address: <%= restaurant.address %><br>
      Date: <%= restaurant.date.strftime("%B %d, %Y") %><br>
      Review: <%= restaurant.review %><br>
    <% end %>

    <h4> Attractions </h4>
    <%  @itinerary.attractions.each do |attraction| %>
      Attraction name: <%= link_to attraction.name, [@itinerary, attraction] %><br>
      Address: <%= attraction.address %><br>
      Date: <%= attraction.date.strftime("%B %d, %Y") %><br>
      Review: <%= attraction.review %><br>
    <% end %>
  </div>
  <br>
  <div class = "col-md-4">
    <%= button_to "Add a Hotel Reservation", new_itinerary_hotel_path(@itinerary),  :method => "get", class: "btn btn-primary" %><br>
    <%= button_to "Add a Restaurant", new_itinerary_restaurant_path(@itinerary),  :method => "get", class: "btn btn-primary" %><br>
    <%= button_to "Add an Attraction", new_itinerary_attraction_path(@itinerary),  :method => "get", class: "btn btn-primary" %>
  </div>
</div>