<p id="notice"><%= notice %></p>
<br><br>

<div class="row">
  <div class = "col-md-8">
    <h3><%= link_to @itinerary.user.name, user_path(@itinerary.user) %></h3>
    <h3> <%= @itinerary.title %></h3><br>
    <%= @itinerary.start_date.strftime("%B %d, %Y")%> - <%= @itinerary.end_date.strftime("%B %d, %Y")%><br>

    <h4> Hotel Reservations </h4>
    <%  @itinerary.hotels.each do |hotel| %>
      Hotel name: <%= link_to hotel.name, [@itinerary, hotel] %><br>
      Address: <%= hotel.address %><br>
      <% hotel.reservations.each do |reservation|%>
        Stayed: <%= reservation.start_date.strftime("%B %d, %Y") %> - <%= reservation.end_date.strftime("%B %d, %Y") %>
      <% end %>
    <% end %>

    <h4> Restaurants </h4>
    <%  @itinerary.restaurants.each do |restaurant| %>
      Restaurant name: <%= link_to restaurant.name, [@itinerary, restaurant] %><br>
      Address: <%= restaurant.address %><br>
      <% restaurant.meals.each do |meal| %>
        Date: <%= meal.date.strftime("%B %d, %Y") %>
      <% end %>
    <% end %>

    <h4> Attractions </h4>
    <%  @itinerary.attractions.each do |attraction| %>
      Attraction name: <%= link_to attraction.name, [@itinerary, attraction] %><br>
      Address: <%= attraction.address %><br>
      <% attraction.activities.each do |activity| %>
        Date: <%= activity.date.strftime("%B %d, %Y") %>
      <% end %>
    <% end %>
  </div>
  <br>
  <div class = "col-md-4">
    <%= button_to "Add a Hotel Reservation", new_itinerary_hotel_path(@itinerary),  :method => "get", class: "btn btn-primary" %><br>
    <%= button_to "Add a Restaurant", new_itinerary_restaurant_path(@itinerary),  :method => "get", class: "btn btn-primary" %><br>
    <%= button_to "Add an Attraction", new_itinerary_attraction_path(@itinerary),  :method => "get", class: "btn btn-primary" %>
  </div>
</div>