 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
<h1> <%= @itinerary.title %></h1>
    <%= @itinerary.start_date.strftime("%B %d, %Y")%> - <%= @itinerary.end_date.strftime("%B %d, %Y")%><br><br><br><br> 
<div id="owl-demo" class="owl-carousel owl-theme">
<% @itinerary.itinerary_item_photos.each do |photo| %>
  <div class="item"><%= image_tag(photo.url)%> </center></div>
<% end %>
</div>

<table class="table table-bordered">
    <% if @itinerary_dates.count < 8 %>
  <%= render 'itinerary_items' %>
    <% else %>
            <%= render 'itinerary_item_two' %>

 

    <% end%>
</table>
<div class="row">

  <div class = "col-md-4">
    <h3><%= link_to @itinerary.user.name, user_path(@itinerary.user) %></h3>
    <%= image_tag @itinerary.user.avatar.url(:medium) %><br><br>
    <% if current_user == @itinerary.user %>
      <h3>Add items to your itinerary!</h3><br><br>
      <%= button_to "Add a Hotel Reservation", new_itinerary_hotel_path(@itinerary),  :method => "get", class: "btn btn-primary" %><br>
      <%= button_to "Add a Restaurant", new_itinerary_restaurant_path(@itinerary),  :method => "get", class: "btn btn-primary" %><br>
      <%= button_to "Add an Attraction", new_itinerary_attraction_path(@itinerary),  :method => "get", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
      <script>
  $(function() {
    $( "#sortable1, #sortable2" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  });
  $(document).ready(function(){
  setTimeout(function(){
    $('#flash-wrapper').fadeOut();}, 1200);
});

  </script>