<p id="notice"><%= notice %></p>
<h1> My Itinerary for <%=@itinerary.location%> </h1>
<br><br>
<h3> <%= @itinerary.title %></h3><br>
Start Date: <%= @itinerary.start_date.strftime("%B %d, %Y")%><br>
End Date: <%= @itinerary.end_date.strftime("%B %d, %Y")%><br>
<h4>Flights: </h4><br>
<% @itinerary.flights.each do |flight| %>
  Airline: <%= flight.airline %><br>
  Date: <%= flight.date.strftime("%B %d, %Y") %><br>
  Origin: <%= flight.origin %><br>
  Destination: <%= flight.destination %><br>
  Review: <%= flight.review %><br>
  <br>
  <% end %>

<br>
<%= button_to "Add Flight", new_itinerary_flight_path(@itinerary),  :method => "get", class: "btn btn-primary" %>