<p id="notice"><%= notice %></p>
<h1> My Itinerary for <%=@itinerary.location%> </h1>
<br><br>

<div class="row">
  <div class = "col-md-8">
    <h3><%= link_to @itinerary.user.name, user_path(@itinerary.user) %></h3>
    <h3> <%= @itinerary.title %></h3><br>
    Start Date: <%= @itinerary.start_date.strftime("%B %d, %Y")%><br>
    End Date: <%= @itinerary.end_date.strftime("%B %d, %Y")%><br>
    <h4>Flights: </h4><br>
    <% @itinerary.flights.each do |flight| %>
      Airline: <%= flight.airline %><br>
      Date: <%= flight.date.strftime("%B %d, %Y") %><br>
      Origin: <%= flight.origin %><br>
      Destination: <%= flight.destination %><br>
      Review: <%= flight.review %><br>
      <br>
    <% end %>

    <h4> Hotel Reservations </h4>
    <%  @itinerary.hotels.each do |hotel| %>
      Hotel name: <%= hotel.name %><br>
      Location: <%= hotel.location %><br>
      Date: <%= hotel.date.strftime("%B %d, %Y") %><br>
      Review: <%= hotel.review %><br>
    <% end %>

    <h4> Restaurants </h4>
    <%  @itinerary.restaurants.each do |restaurant| %>
      Restaurant name: <%= restaurant.name %><br>
      Location: <%= restaurant.location %><br>
      Date: <%= restaurant.date.strftime("%B %d, %Y") %><br>
      Review: <%= restaurant.review %><br>
    <% end %>

    <h4> Attractions </h4>
    <%  @itinerary.attractions.each do |attraction| %>
      Attraction name: <%= attraction.name %><br>
      Location: <%= attraction.location %><br>
      Date: <%= attraction.date.strftime("%B %d, %Y") %><br>
      Review: <%= attraction.review %><br>
    <% end %>
  </div>
  <br>
  <div class = "col-md-4">
    <%= button_to "Add Flight", new_itinerary_flight_path(@itinerary),  :method => "get", class: "btn btn-primary" %><br>
    <%= button_to "Add a Hotel Reservation", new_itinerary_hotel_path(@itinerary),  :method => "get", class: "btn btn-primary" %><br>
    <%= button_to "Add a Restaurant", new_itinerary_restaurant_path(@itinerary),  :method => "get", class: "btn btn-primary" %><br>
    <%= button_to "Add an Attraction", new_itinerary_attraction_path(@itinerary),  :method => "get", class: "btn btn-primary" %>
  </div>
</div>