<h1> <%= @itinerary.title %></h1>
    <%= @itinerary.start_date.strftime("%B %d, %Y")%> - <%= @itinerary.end_date.strftime("%B %d, %Y")%><br><br><br><br> 
<div id="owl-demo" class="owl-carousel owl-theme">
<% @itinerary.itinerary_item_photos.each do |photo| %>
  <div class="item"><%= image_tag(photo.url)%> </center></div>
<% end %>
</div>
<% if @itinerary.hotels.count > 0 && @itinerary.attractions.count %>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src='https://www.google.com/maps/embed/v1/directions?key=<%="#{ENV["GOOGLE_KEY"]}"%>&origin=<%=@origin%>&destination=<%=@destination%>'>
</iframe>
<% end %>

<div class="row">
  <div class = "col-md-8">

    <h4> Hotel Reservations </h4>
    <% @itinerary.reservations.each do |reservation| %>
      Hotel name: <%= link_to reservation.hotel.name, [@itinerary, reservation] %><br>
      Address: <%= reservation.hotel.address %><br>
      Stayed: <%= reservation.start_date.strftime("%B %d, %Y") %> - 
      <%= reservation.end_date.strftime("%B %d, %Y") %><br><br>
    <% end %>

    <h4> Restaurants </h4>
    <% @itinerary.meals.each do |meal| %>
      Restaurant name: <%= link_to meal.restaurant.name, [@itinerary, meal] %><br>
      Address: <%= meal.restaurant.address %><br>
      Date: <%= meal.date.strftime("%B %d, %Y") %><br><br>
    <% end %>

    <h4> Attractions </h4>
    <%  @itinerary.activities.each do |activity| %>
      Attraction name: <%= link_to activity.attraction.name, [@itinerary, activity] %><br>
      Address: <%= activity.attraction.address %><br>
      Date: <%= activity.date.strftime("%B %d, %Y") %><br><br>
      <% end %>
  </div>
  <br>
  <div class = "col-md-4">
    <h3><%= link_to @itinerary.user.name, user_path(@itinerary.user) %></h3>
    <%= image_tag @itinerary.user.avatar.url(:medium) %><br><br>
    <% if current_user == @itinerary.user %>
      <h3>Add items to your itinerary!</h3><br><br>
      <%= button_to "Add a Hotel Reservation", new_itinerary_hotel_path(@itinerary),  :method => "get", class: "btn btn-primary" %><br>
      <%= button_to "Add a Restaurant", new_itinerary_restaurant_path(@itinerary),  :method => "get", class: "btn btn-primary" %><br>
      <%= button_to "Add an Attraction", new_itinerary_attraction_path(@itinerary),  :method => "get", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>