<% if @results.empty? %>
  <%= "No results matching that query." %>
  <% else %>
<div class="panel panel-primary">
  <div class="panel-heading">Search Results</div>
  <div class="panel-body">
    <div class="list-group">
      <% @results.each do |result| %>
        <% if result.class == Itinerary %>
          <h4><span class="label label-primary"><%=result.class.to_s%></span><%= link_to result.title, result, class:"list-group-item" %> </h4><br>
        <% elsif result.class == User %>
          <h4><span class="label label-success"><%=result.class.to_s%></span><%= link_to result.name, result, class:"list-group-item" %> </h4><br> 
          <% elsif result.class == Restaurant %>
          <h4><span class="label label-warning"><%=result.class.to_s%></span><%= link_to result.name, result, class:"list-group-item" %> </h4><br>
          <% elsif result.class == Attraction %>
          <h4><span class="label label-danger"><%=result.class.to_s%></span><%= link_to result.name, result, class:"list-group-item" %> </h4><br>
          <% elsif result.class == Hotel %>
          <h4><span class="label label-royal"><%=result.class.to_s%></span><%= link_to result.name, result, class:"list-group-item" %> </h4><br>
        <% end %>
      <% end %>
    </div>
    <% end %>

  </div>
</div>