<div class = "row">

    <h2 class="section-title">My Profile</h2><br>
    <div class = "col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4> My Itineraries </h4>
        </div>
        <div class="panel-body">
          <% @user.itineraries.each do |itinerary| %>
            <li><h4><%= link_to itinerary.title, itinerary_path(itinerary) %></h4></li>
          <% end %>
          <br>
        </div>
        <div class="panel-heading">
          <h4>My Friends List</h4>
        </div>
        <div class="panel-body">
          <ul>
            <% @user.friends.each do |friend| %><br>
              <%= link_to (image_tag friend.avatar.url(:medium), :class => "profile-icon"), user_path(friend) %><br>
              <%= link_to friend.name, user_path(friend) %>
              <%= link_to "Remove Friend", friendship_path(:id => friend), :method => :delete, class: "btn btn-ar btn-primary" %><br><br>
            <% end %>
          </ul>
        </div>
      <br>
        <div class="panel-heading">
          <h4>Friend Requests</h4>
        </div>
        <div class="panel-body">
          <ul>
              <% @user.requested_friendships.each do |request| %>
                <li>
                  <h4 style><%= request.name %> </h4>
                  <%= link_to "Accept", friendship_path(:id => request), :method => "put", class: "btn btn-ar btn-primary" %> 
                  <%= link_to "Decline", friendship_path(:id => request), :method => :delete, class: "btn btn-ar btn-primary" %>
                </li>
              <% end %>
          </ul>
          <% if current_user.pending_friends.count > 0 %>
            <ul>
              <% current_user.pending_friends.each do |friend| %>
                <li>
                  <%= image_tag friend.avatar.url(:medium), :class => "profile-icon" %>
                  Friend request to <%= friend.name %> sent!
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4><%= link_to @user.name, user_path(@user) %></h4>
        </div>
        <div class="panel-body">
          <%= link_to (image_tag @user.avatar.url(:medium)), user_path(@user) %><br>
          <h4> Add/Change profile picture! </h4>
          <%= form_for @user,  :html => { :multipart => true } do |form| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this itinerary from being saved:</h2>
                  <ul>
                    <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
              </div>
            <% end %>
            <%= form.file_field :avatar %>
            <div class="actions"><br>
              <%= form.submit "Update Profile", class: "btn btn-ar btn-primary" %>
            </div>
            <% end %>
            <%= create_itinerary_conditional %>
          </div>
        </div>
      </div>
    </div>

</div>
