<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <h2 class="section-title"><%= @user.name %>'s Itineraries:</h2>
      <div class="panel-body">
        <% @user.itineraries.each do |itinerary| %>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <% if itinerary.itinerary_display_pic? %>
                  <%= link_to (image_tag itinerary.activities.first.photos.first.image.url(:medium)), itinerary_path(itinerary) %>
                  <% else %>
                  <%= image_tag "default.jpg", size: "300x200" %>
                <% end %>
                <div class="caption">
                  <p><%= link_to itinerary.title, itinerary_path(itinerary) %></p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <h3 class="section-title"><%=@user.name%></h3>
      <div class="panel-body"><p>User since: <%= @user.created_at.strftime("%B %d, %Y") %></p><br><br>
        <%= image_tag @user.avatar.url(:medium) %><br>
        <% if logged_in? && current_user.add_friend_conditional(@user) %>
          <% if current_user.requested?(@user) %>
            <p> Friend request sent </p>
          <% else %>
            <%= button_to "Add Friend", friendships_path(:friend_id => @user), :method => :post, class: "btn btn-primary" %>
          <% end %>
        <% end %>

        <h4>Friends</h4>
          <% @user.friends.each do |friend| %>
            <div class="list-group">
              <div class="list-group-item">
                <%= link_to (image_tag friend.avatar.url(:medium), :class => "friend-icon"), user_path(friend) %>
                <%= link_to friend.name, user_path(friend) %> 
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<br><br><br><br><br><%= link_to 'Back', users_path %>
