<h2><%= link_to @reservation.itinerary.title, itinerary_path(@reservation.itinerary) %></h2>
<div align = "center">
  <h1><%= @reservation.hotel.name %></h1>
   Address: <%= @reservation.hotel.address %><br>
   Stayed: <%=@reservation.start_date.strftime("%B %d, %Y") %> - <%= @reservation.end_date.strftime("%B %d, %Y") %><br>
  <% if @review %>
    <%= @review.content %><br>
    <%= @review.creator.name %>
  <% end %><br>
  <% if @wishlist_exists!=true && !@my_item%>
    <%= form_for [@wishlistable, Wishlist.new] do |f| %>
       <%= f.hidden_field :user_id, :value => current_user.id %>
       <%= f.submit "Add to Wishlist", class: "btn btn-primary" %><br>
     <% end %>
   <% end %>

  <iframe
    width="400"
    height="450"
    frameborder="0" style="border:0"
    src='https://www.google.com/maps/embed/v1/place?key=<%="#{ENV["GOOGLE_KEY"]}"%>&q=<%=@reservation.hotel.name+@reservation.hotel.address%>'>
  </iframe>

  <div class="form-group">
    <% if logged_in? && !@review && current_user == @reservation.itinerary.user %>
      <%= form_for [@reviewable, Review.new] do |f| %>
         <%= f.text_area :content, :placeholder => "Write a review", class: "form-control" %><br>
         <%= f.hidden_field :creator_id, :value => current_user.id %>
         <%= f.submit "Submit Review", class: "btn btn-primary" %><br>
      <% end %>
    <% end %>
  </div>
</div>

  <div id="owl-demo" class="owl-carousel">
    <% @reservation.photos.each do |photo| %>
    <div class="item"><center> <%= link_to (image_tag photo.image.url), [@activity, photo] %> </center></div>
    <% end %>
  </div>


<div class="row">
 <div class="col-md-8">
   <h2>All Comments</h2>
     <ul>
       <% @commentable.comments.each do |comment| %>
       <li><div class="row">
         <div class="col-md-3">
           <%= link_to (image_tag comment.commenter.avatar.url(:medium), :class => "profile-icon img-responsive"), user_path(comment.commenter) %>
           <%= link_to comment.commenter_name, user_path(comment.commenter) %>
         </div>
         <div class= "col-md-6">
           <%= comment.created_at.strftime("%B %d, %Y") %><br>
           <strong><%= comment.content %></strong>
         </div></div></li>
       <% end %>
     </ul><br><br>
   
     <div class="form-group">
       <% if logged_in? %>
         <%= form_for [@commentable, Comment.new] do |f| %>
             <%= f.text_area :content, :placeholder => "Write a comment...", class: "form-control" %><br>
             <%= f.hidden_field :user_id, :value => current_user.id %>
             <%= f.submit "Comment", class: "btn btn-primary" %><br>
         <% end %>
       <% end %>
     </div>
   </div>

</div>

   <u><h4> Add an image! </h4></u>
   <% if logged_in? && current_user.id == @reservation.itinerary.user.id %>
     <%= form_for [@imageable, Photo.new],  :html => { :multipart => true } do |form| %>
       <%= form.file_field :image %>
        <div class = "actions"><br>
           <%= form.submit "Add Photo", class: "btn btn-primary" %>
       </div><br><br>
     <% end %>
   <% end %>

<%= link_to "Back", itinerary_path(@reservation.itinerary) %>