<h1><%= @meal.restaurant.name %></h1><br>
Address: <%= @meal.restaurant.address %><br>
Date: <%= @meal.date.strftime("%B %d, %Y") %>
<br><br>

<% if @review %>
  <%= @review.content %><br>
  <%= @review.creator.name %>
<% end %>

  <div class="form-group">
    <% if logged_in? && !@review %>
      <%= form_for [@reviewable, Review.new] do |f| %>
         <%= f.text_area :content, :placeholder => "Write a review", class: "form-control" %><br>
         <%= f.hidden_field :creator_id, :value => current_user.id %>
         <%= f.submit "Submit Review", class: "btn btn-primary" %><br>
      <% end %>
    <% end %>
  </div>

  <div id="owl-demo" class="owl-carousel">
    <% @meal.photos.each do |photo| %>
    <div class="item"><center> <%= link_to (image_tag photo.image.url), [@activity, photo] %> </center></div>
    <% end %>
  </div>

<div class="row">
  <div class="col-md-8">

   <h2>All Comments</h2>
      <ul>
        <% @commentable.comments.each do |comment| %>
        <li><div class="row">
          <div class="col-md-3">
            <%= image_tag comment.commenter.avatar.url(:medium), :class => "profile-icon" %>
            <%= comment.commenter_name %>
          </div>
          <div class= "col-md-6">
            <%= comment.created_at.strftime("%B %d, %Y") %><br>
            <strong><%= comment.content %></strong>
          </div></div></li>
        <% end %>
      </ul>
    <br><br>

    <div class="form-group">
    <% if logged_in? %>
      <%= form_for [@commentable, Comment.new] do |f| %>
          <%= f.text_area :content, :placeholder => "Write a comment...", class: "form-control" %><br>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.submit "Comment", class: "btn btn-primary" %><br>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
    <u><h4> Add an image! </h4></u>
    <% if logged_in? && current_user.id == @meal.itinerary.user.id %>
      <%= form_for [@imageable, Photo.new],  :html => { :multipart => true } do |form| %>
        <%= form.file_field :image %>
         <div class = "actions"><br>
            <%= form.submit "Add Photo", class: "btn btn-primary" %>
        </div><br>
      <% end %>
    <% end %>
<%= link_to "Back", itinerary_path(@meal.itinerary) %>