Activity Name: <%= @activity.attraction.name %><br>
Address: <%= @activity.attraction.address %><br>
Date: <%= @activity.date.strftime("%B %d, %Y") %><br>
<br><br>

<% if logged_in? %>
  <h2>New Comment</h2>
  <%= form_for [@commentable, Comment.new] do |f| %>
      <%= f.label :content %><br>
      <%= f.text_area :content %>
      <%= f.submit "Submit" %><br>
  <% end %>
<% end %>

<h2>All Comments</h2>
  <% @commentable.comments.each do |comment| %>
    <%= comment.commenter_name %>: <strong><%= comment.content %><strong>
  <% end %>
<br><br><br>

<%= link_to "Back", itinerary_path(@activity.itinerary) %>

