<header id="header-full-top" class="hidden-xs header-full">
<div class="navbar navbar-default " role="navigation">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/">OurTinerary</a>
     </div>
     <div class="collapse navbar-collapse">
       <ul class="nav navbar-nav">
         <% if logged_in? %>
           <li><%= link_to current_user.name, users_current_path %></li>
         <% end %>
        <li id="back"><%= link_to 'Back', :back %></li>
        <li><%= login_logout_links %></li>
       </ul>
   <nav class="top-nav">
      <div class="dropdown animated fadeInDown animation-delay-11">
        <% if logged_in? %>
          <%= link_to "Wishlist", wishlists_path %>
        <% end %>          
      </div> <!-- dropdown -->

      <div class="dropdown animated fadeInDown animation-delay-13">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
        <div class="dropdown-menu dropdown-menu-right dropdown-search-box animated fadeInUp">
          <div class = "form-group search-box">
            <%= form_tag("/search", method: "get") do %>
              <%= label_tag :keyword, "Search for:" %>
              <%= search_field_tag(:keyword) %>
              <br><br>
              <%= submit_tag "Search", class: "btn btn-ar btn-primary" %>
            <% end %>
          </div>
        </div>
     </div><!-- nav-collapse -->
   </div>
      </div> <!-- dropdown -->
    </nav>
 </div><!-- navbar -->


